<!--base.html-->
 
{% extends 'base.html' %}

{% block title %}<title></title>{% endblock title %}
  
{% block nav %}
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Navbar</a>
      <div class="d-flex">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <span class="navbar-text">{{ user }} 님, 안녕하세요.</span>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <form action="{% url 'accounts:logout' %}" method="POST">
                  {% csrf_token %}
                  <input class="btn btn-outline-danger btn-sm mx-2" type="submit" value="Logout">
              </li>
              <li class="nav-item">
                {% comment %} <form action="{% url 'accounts:update' %}" method="POST">
                  {% csrf_token %}
                  <input class="btn btn-outline-warning btn-sm mx-2" type="submit" value="회원정보 수정">
                </form> {% endcomment %}
                <a class="btn btn-outline-warning btn-sm" href="{% url 'accounts:update' %}">회원정보 수정</a>
              </li>
              {% else %}
              <a class="btn btn-outline-info btn-sm mx-2" href={% url 'accounts:signup' %}>회원가입</a>
              <a class="btn btn-outline-primary btn-sm mx-2" href={% url 'accounts:login' %}>로그인</a>
            {% endif %}
          </ul>
      </div>
    </div>
  </nav>
{% endblock nav %}
  
{% block sidebar %}{% endblock sidebar %}
  
{% block content %}{% endblock content %}
    


